/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {    
    -fx-background-color: #F2EFEA; 
}

.combo-box .cell:selected {
    -fx-text-fill: #403D58;
}


.text-field, .text-area
{
    -fx-text-inner-color: black;
    -fx-prompt-text-fill: #6E7271;
}

.radio-button
{
    -fx-text-fill:black;
}

.button
{
    -fx-background-color: #2A93D5;
    -fx-text-fill: #EDFAFD;
}
